@use "sass:math";
$darkgrey: #b5bac7 !important;
$grey: #9c9fa7 !important;
$lightgrey: #f4f4f4 !important;
$white: #fff !important;
$black: #333 !important;
$red: #9e2629 !important;
$lightblue: rgba(163, 200, 255, 0.25) !important;
$blue: #274fb6 !important;
$darkblue: #00246a !important;
$green: #00bb78 !important;
$orange: #ff9d29 !important;
$transparent: transparent !important;
// setting colors
$colors: (
  "darkgrey": $darkgrey,
  "grey": $grey,
  "lightgrey": $lightgrey,
  "white": $white,
  "black": $black,
  "red": $red,
  "lightblue": $lightblue,
  "blue": $blue,
  "darkblue": $darkblue,
  "green": $green,
  "orange": $orange,
  "transparent": $transparent,
);
@each $name, $color in $colors {
  .bg-#{$name} {
    background-color: $color;
  }
  .text-#{$name} {
    color: $color;
  }
  .border-#{$name} {
    border-color: $color;
  }
  .outline-#{$name} {
    color: $color;
    border: $color;
    :hover {
      background-color: $color;
      color: white;
    }
  }
  .text-hover-#{$name} :hover {
    color: $color;
  }
  .bg-hover-#{$name} :hover {
    background-color: $color;
  }
}
