@use "./color_variables.scss" as v;
$logo_width: 7.5em;

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #333;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.transition,
.transition > * {
  transition: 0.3s;
}

.cursor-pointer,
.cursor-pointer > * {
  cursor: pointer;
}

.link {
  cursor: pointer;
  & :hover {
    color: v.$orange !important;
  }
}

.logo {
  width: $logo_width;
}

.disabled {
  pointer-events: none;
}

.rotate {
  transform: rotate(180deg);
}

.input {
  padding: 0.625em 1.25em;
  border: 0.125em solid v.$orange;
  border-radius: 0.3125em;
  caret-color: v.$orange;
  &[type="text"] {
    min-width: 12.5em;
  }
  width: 100%;
}

.button {
  padding: 0.625em 1.25em;
  border: 0.0625em solid v.$transparent;
  line-height: 1.3125em;
  color: v.$white;
  background-color: v.$orange;
  border-radius: 0.3125em;
  &:disabled,
  &[disabled] {
    border: 1px solid #999999 !important;
    background-color: #cccccc !important;
    color: #666666 !important;
  }
  width: 100%;
}

.input:disabled,
.button:disabled {
  border-color: initial !important;
}

/*scrollbars*/

* {
  /*firefox only*/
  scrollbar-color: #c5c5c5 white;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 0.3125em;
  height: 0.3125em;
}

::-webkit-scrollbar-thumb {
  background: #c5c5c5;
}

::-webkit-scrollbar-track {
  background: white;
}
