$logo_width: 7.5em;

html {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #333;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}

.transition,
.transition > * {
  transition: 0.3s;
}
.link {
  cursor: pointer;
  :hover {
    color: #ff8e0a !important;
  }
}
.logo {
  width: $logo_width;
}

/*scrollbars*/

* {
  /*firefox only*/
  scrollbar-color: #c5c5c5 white;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 0.3125em;
  height: 0.3125em;
}

::-webkit-scrollbar-thumb {
  background: #c5c5c5;
}

::-webkit-scrollbar-track {
  background: white;
}
