@use "./color_variables.scss" as v;
$logo_width: 7.5em;

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #333;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.transition,
.transition > * {
  transition: 0.3s;
}

.cursor-pointer,
.cursor-pointer > * {
  cursor: pointer;
}

.link {
  cursor: pointer;
  & :hover {
    color: v.$orange !important;
  }
}

.logo {
  width: $logo_width;
}

.disabled {
  pointer-events: none;
}

.rotate {
  transform: rotate(180deg);
}

/*scrollbars*/

* {
  /*firefox only*/
  scrollbar-color: #c5c5c5 white;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 0.3125em;
  height: 0.3125em;
}

::-webkit-scrollbar-thumb {
  background: #c5c5c5;
}

::-webkit-scrollbar-track {
  background: white;
}
