$darkgrey: #b5bac7 !important;
$grey: #9c9fa7 !important;
$lightgrey: #f4f4f4 !important;
$white: #fff !important;
$black: #333 !important;
$red: #9e2629 !important;
$lightblue: rgba(163, 200, 255, 0.25) !important;
$blue: #274fb6 !important;
$darkblue: #00246a !important;
$green: #00bb78 !important;
$orange: #ff9d29 !important;
$transparent: transparent !important;
