$darkgrey: var(--darkgrey);
$grey: var(--grey);
$lightgrey: var(--lightgrey);
$white: var(--white);
$black: var(--black);
$red: var(--red);
$lightblue: var(--lightblue);
$blue: var(--blue);
$darkblue: var(--darkblue);
$green: var(--green);
$orange: var(--orange);
$transparent: var(--transparent);
$inherit: var(--inherit);
