@use "./color_variables.scss" as v;
// setting colors
$colors: (
  "darkgrey": v.$darkgrey,
  "grey": v.$grey,
  "lightgrey": v.$lightgrey,
  "white": v.$white,
  "black": v.$black,
  "red": v.$red,
  "lightblue": v.$lightblue,
  "blue": v.$blue,
  "darkblue": v.$darkblue,
  "green": v.$green,
  "orange": v.$orange,
  "transparent": v.$transparent,
  "inherit": v.$inherit,
);
@each $name, $color in $colors {
  .bg-#{$name} {
    background-color: $color !important;
  }
  .text-#{$name} {
    color: $color !important;
  }
  .border-#{$name} {
    border-color: $color !important;
  }
  .outline-#{$name} {
    color: $color !important;
    border-color: $color !important;
    background-color: v.$transparent;
    &:hover:enabled {
      background-color: $color !important;
      color: v.$white !important;
    }
  }
  .text-hover-#{$name} {
    &:hover:enabled {
      color: $color !important;
    }
  }
  .bg-hover-#{$name} {
    &:hover:enabled {
      background-color: $color !important;
    }
  }
}
