body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #333;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.transition,
.transition > * {
  transition: 0.3s;
}

.cursor-pointer,
.cursor-pointer > * {
  cursor: pointer;
}

.link {
  cursor: pointer;
}
.link :hover {
  color: var(--orange) !important;
}

.logo {
  width: 7.5em;
}

.disabled {
  pointer-events: none;
}

.rotate {
  transform: rotate(180deg);
}

.input {
  padding: 0.625em 1.25em;
  border: 0.125em solid var(--orange);
  border-radius: 0.3125em;
  caret-color: var(--orange);
}
.input[type="text"] {
  min-width: 12.5em;
}

.button {
  padding: 0.625em 1.25em;
  border: 0.0625em solid var(--transparent);
  line-height: 1.3125em;
  color: var(--white);
  background-color: var(--orange);
  border-radius: 0.3125em;
}
.button:disabled,
.button[disabled] {
  border: 1px solid #999999 !important;
  background-color: #cccccc !important;
  color: #666666 !important;
}

.input:disabled,
.button:disabled {
  border-color: initial !important;
}

.table table {
  border-collapse: separate;
  width: 100%;
  border-spacing: 0px;
}
.table table > td,
.table table > th {
  border: 0.0625em solid #e8e8e8;
  padding: 1em 1.25em;
}
.table table > th {
  text-align: left;
  font-weight: 500;
}
.table table > tbody tr:hover {
  box-shadow: 0 0 0.4375em rgba(8, 38, 115, 0.2);
}

/*scrollbars*/
* {
  /*firefox only*/
  scrollbar-color: #c5c5c5 white;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 0.3125em;
  height: 0.3125em;
}

::-webkit-scrollbar-thumb {
  background: #c5c5c5;
}

::-webkit-scrollbar-track {
  background: white;
}

.font-size-12 {
  font-size: 0.75em;
}

.font-size-14 {
  font-size: 0.875em;
}

.font-size-16 {
  font-size: 1em;
}

.font-size-18 {
  font-size: 1.125em;
}

.font-size-20 {
  font-size: 1.25em;
}

.font-size-22 {
  font-size: 1.375em;
}

.font-size-24 {
  font-size: 1.5em;
}

.font-size-26 {
  font-size: 1.625em;
}

.font-size-28 {
  font-size: 1.75em;
}

.font-size-30 {
  font-size: 1.875em;
}

.font-size-32 {
  font-size: 2em;
}

.font-size-34 {
  font-size: 2.125em;
}

.font-size-36 {
  font-size: 2.25em;
}

.font-size-38 {
  font-size: 2.375em;
}

.font-size-40 {
  font-size: 2.5em;
}

.font-weight-bold {
  font-weight: 500;
}

.bg-darkgrey {
  background-color: var(--darkgrey) !important;
}

.text-darkgrey {
  color: var(--darkgrey) !important;
}

.border-darkgrey {
  border-color: var(--darkgrey) !important;
}

.outline-darkgrey {
  color: var(--darkgrey) !important;
  border-color: var(--darkgrey) !important;
  background-color: var(--transparent);
}
.outline-darkgrey:hover:enabled {
  background-color: var(--darkgrey) !important;
  color: var(--white) !important;
}

.text-hover-darkgrey:hover:enabled {
  color: var(--darkgrey) !important;
}

.bg-hover-darkgrey:hover:enabled {
  background-color: var(--darkgrey) !important;
}

.bg-grey {
  background-color: var(--grey) !important;
}

.text-grey {
  color: var(--grey) !important;
}

.border-grey {
  border-color: var(--grey) !important;
}

.outline-grey {
  color: var(--grey) !important;
  border-color: var(--grey) !important;
  background-color: var(--transparent);
}
.outline-grey:hover:enabled {
  background-color: var(--grey) !important;
  color: var(--white) !important;
}

.text-hover-grey:hover:enabled {
  color: var(--grey) !important;
}

.bg-hover-grey:hover:enabled {
  background-color: var(--grey) !important;
}

.bg-lightgrey {
  background-color: var(--lightgrey) !important;
}

.text-lightgrey {
  color: var(--lightgrey) !important;
}

.border-lightgrey {
  border-color: var(--lightgrey) !important;
}

.outline-lightgrey {
  color: var(--lightgrey) !important;
  border-color: var(--lightgrey) !important;
  background-color: var(--transparent);
}
.outline-lightgrey:hover:enabled {
  background-color: var(--lightgrey) !important;
  color: var(--white) !important;
}

.text-hover-lightgrey:hover:enabled {
  color: var(--lightgrey) !important;
}

.bg-hover-lightgrey:hover:enabled {
  background-color: var(--lightgrey) !important;
}

.bg-white {
  background-color: var(--white) !important;
}

.text-white {
  color: var(--white) !important;
}

.border-white {
  border-color: var(--white) !important;
}

.outline-white {
  color: var(--white) !important;
  border-color: var(--white) !important;
  background-color: var(--transparent);
}
.outline-white:hover:enabled {
  background-color: var(--white) !important;
  color: var(--white) !important;
}

.text-hover-white:hover:enabled {
  color: var(--white) !important;
}

.bg-hover-white:hover:enabled {
  background-color: var(--white) !important;
}

.bg-black {
  background-color: var(--black) !important;
}

.text-black {
  color: var(--black) !important;
}

.border-black {
  border-color: var(--black) !important;
}

.outline-black {
  color: var(--black) !important;
  border-color: var(--black) !important;
  background-color: var(--transparent);
}
.outline-black:hover:enabled {
  background-color: var(--black) !important;
  color: var(--white) !important;
}

.text-hover-black:hover:enabled {
  color: var(--black) !important;
}

.bg-hover-black:hover:enabled {
  background-color: var(--black) !important;
}

.bg-red {
  background-color: var(--red) !important;
}

.text-red {
  color: var(--red) !important;
}

.border-red {
  border-color: var(--red) !important;
}

.outline-red {
  color: var(--red) !important;
  border-color: var(--red) !important;
  background-color: var(--transparent);
}
.outline-red:hover:enabled {
  background-color: var(--red) !important;
  color: var(--white) !important;
}

.text-hover-red:hover:enabled {
  color: var(--red) !important;
}

.bg-hover-red:hover:enabled {
  background-color: var(--red) !important;
}

.bg-lightblue {
  background-color: var(--lightblue) !important;
}

.text-lightblue {
  color: var(--lightblue) !important;
}

.border-lightblue {
  border-color: var(--lightblue) !important;
}

.outline-lightblue {
  color: var(--lightblue) !important;
  border-color: var(--lightblue) !important;
  background-color: var(--transparent);
}
.outline-lightblue:hover:enabled {
  background-color: var(--lightblue) !important;
  color: var(--white) !important;
}

.text-hover-lightblue:hover:enabled {
  color: var(--lightblue) !important;
}

.bg-hover-lightblue:hover:enabled {
  background-color: var(--lightblue) !important;
}

.bg-blue {
  background-color: var(--blue) !important;
}

.text-blue {
  color: var(--blue) !important;
}

.border-blue {
  border-color: var(--blue) !important;
}

.outline-blue {
  color: var(--blue) !important;
  border-color: var(--blue) !important;
  background-color: var(--transparent);
}
.outline-blue:hover:enabled {
  background-color: var(--blue) !important;
  color: var(--white) !important;
}

.text-hover-blue:hover:enabled {
  color: var(--blue) !important;
}

.bg-hover-blue:hover:enabled {
  background-color: var(--blue) !important;
}

.bg-darkblue {
  background-color: var(--darkblue) !important;
}

.text-darkblue {
  color: var(--darkblue) !important;
}

.border-darkblue {
  border-color: var(--darkblue) !important;
}

.outline-darkblue {
  color: var(--darkblue) !important;
  border-color: var(--darkblue) !important;
  background-color: var(--transparent);
}
.outline-darkblue:hover:enabled {
  background-color: var(--darkblue) !important;
  color: var(--white) !important;
}

.text-hover-darkblue:hover:enabled {
  color: var(--darkblue) !important;
}

.bg-hover-darkblue:hover:enabled {
  background-color: var(--darkblue) !important;
}

.bg-green {
  background-color: var(--green) !important;
}

.text-green {
  color: var(--green) !important;
}

.border-green {
  border-color: var(--green) !important;
}

.outline-green {
  color: var(--green) !important;
  border-color: var(--green) !important;
  background-color: var(--transparent);
}
.outline-green:hover:enabled {
  background-color: var(--green) !important;
  color: var(--white) !important;
}

.text-hover-green:hover:enabled {
  color: var(--green) !important;
}

.bg-hover-green:hover:enabled {
  background-color: var(--green) !important;
}

.bg-orange {
  background-color: var(--orange) !important;
}

.text-orange {
  color: var(--orange) !important;
}

.border-orange {
  border-color: var(--orange) !important;
}

.outline-orange {
  color: var(--orange) !important;
  border-color: var(--orange) !important;
  background-color: var(--transparent);
}
.outline-orange:hover:enabled {
  background-color: var(--orange) !important;
  color: var(--white) !important;
}

.text-hover-orange:hover:enabled {
  color: var(--orange) !important;
}

.bg-hover-orange:hover:enabled {
  background-color: var(--orange) !important;
}

.bg-transparent {
  background-color: var(--transparent) !important;
}

.text-transparent {
  color: var(--transparent) !important;
}

.border-transparent {
  border-color: var(--transparent) !important;
}

.outline-transparent {
  color: var(--transparent) !important;
  border-color: var(--transparent) !important;
  background-color: var(--transparent);
}
.outline-transparent:hover:enabled {
  background-color: var(--transparent) !important;
  color: var(--white) !important;
}

.text-hover-transparent:hover:enabled {
  color: var(--transparent) !important;
}

.bg-hover-transparent:hover:enabled {
  background-color: var(--transparent) !important;
}

.bg-inherit {
  background-color: var(--inherit) !important;
}

.text-inherit {
  color: var(--inherit) !important;
}

.border-inherit {
  border-color: var(--inherit) !important;
}

.outline-inherit {
  color: var(--inherit) !important;
  border-color: var(--inherit) !important;
  background-color: var(--transparent);
}
.outline-inherit:hover:enabled {
  background-color: var(--inherit) !important;
  color: var(--white) !important;
}

.text-hover-inherit:hover:enabled {
  color: var(--inherit) !important;
}

.bg-hover-inherit:hover:enabled {
  background-color: var(--inherit) !important;
}

.svg-inline--fa.fa-w-10 {
  width: 0.625em;
}

.svg-inline--fa.fa-w-11 {
  width: 0.6875em;
}

.svg-inline--fa.fa-w-12 {
  width: 0.75em;
}

.svg-inline--fa.fa-w-13 {
  width: 0.8125em;
}

.svg-inline--fa.fa-w-14 {
  width: 0.875em;
}

.svg-inline--fa.fa-w-15 {
  width: 0.9375em;
}

.svg-inline--fa.fa-w-16 {
  width: 1em;
}

.svg-inline--fa.fa-w-17 {
  width: 1.0625em;
}

.svg-inline--fa.fa-w-18 {
  width: 1.125em;
}

.svg-inline--fa.fa-w-19 {
  width: 1.1875em;
}

svg:not(:root).svg-inline--fa {
  overflow: visible;
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

*:focus {
  outline: none !important;
}

.padding {
  padding-right: 11vw;
  padding-left: 11vw;
}

/*# sourceMappingURL=user.css.map */
