.w-min-120 {
  min-width: 8.125em;
}

.border-width {
  border-width: 0.125em !important;
}

.border-end-radius-0 {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.border-start-radius-0 {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.me-n1 {
  margin-right: -0.25em;
}
