@use "../../../common/assets/styles/variables.scss" as v;
*:focus {
  outline: none !important;
}
.padding {
  padding-right: 11vw;
  padding-left: 11vw;
}
input {
  padding: 0.625em 1.25em;
  border: 0.125em solid v.$orange;
  border-radius: 0.3125em;
  caret-color: v.$orange;
  &[type="text"] {
    min-width: 12.5em;
  }
}

button {
  padding: 0.625em 1.25em;
  border: none;
  line-height: 1.3125em;
  color: v.$white;
  background-color: v.$orange;
  border-radius: 0.3125em;
  &:disabled,
  &[disabled] {
    border: 1px solid #999999 !important;
    background-color: #cccccc !important;
    color: #666666 !important;
  }
}
